.slider {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0.9668242296918768) 0%,
    rgba(9, 19, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: aliceblue;
}

.quote {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  padding: 0 10rem;
  animation: fade-in 1s ease-in-out;
}
.quote::selection {
  background-color: rgba(106, 90, 205, 0.3);
}
